@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
*{
  margin: '0px'; 
  padding: '0px';
  font-family: 'Roboto Condensed', sans-serif;
}


/* -------styling for client Account Page------------ */
#clientAccount-Container{
  display: flex; 
  flex-direction: column;
  width: 100%; 
  height: 100%;  
  background-color: #F0ECE3; 
}
#logo-div{
  display: flex; 
  justify-content: space-between; 
  height: 100px;
  width: 100%;  
  background-color: #F0ECE3; 
}
.accountLogos{
  margin: 10px; 
  height: 75px; 
  width: 75px; 
}
#accountLogos-Right{
  height: 110px; 
  width: 110px; 
  margin-top: -7px; 
}
#clientPageNav{
  display: flex; 
  justify-content: space-between; 
  width: inherit; 
  height: 30px; 
  padding: 5px; 
  color: white; 
  background-color: #D7A124; 
}
#clientAccountPage-headerText{
  font-family: inherit; 
  padding: 15px; 
}

#leftCol{
  display: flex; 
  flex-direction: column; 
  padding-top: 10px; 
  width: 25%; 
  height: 800px; 
  background-color: lightgray; 
}
#rightCol{
  width: 70%; 
  height: 800px; 
  background-color: #F0ECE3; 
}